<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- Permiso de Internet necesario para Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application

        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"

        android:theme="@style/Theme.ToDoListLeonardo">


        <!--
            Pantalla inicial
            Login de la aplicación
        -->
        <activity

            android:name=".LoginActivity"

            android:exported="true"

            android:screenOrientation="unspecified"

            android:windowSoftInputMode="adjustResize">


            <intent-filter>

                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>


        </activity>



        <!--
            Registro de nuevos usuarios
        -->
        <activity

            android:name=".RegistroActivity"

            android:exported="false"

            android:screenOrientation="unspecified"

            android:windowSoftInputMode="adjustResize" />



        <!--
            Pantalla principal de tareas
        -->
        <activity

            android:name=".MainActivity"

            android:exported="false"

            android:screenOrientation="unspecified"

            android:windowSoftInputMode="adjustResize" />



        <!--
            Panel administrativo RBAC
        -->
        <activity

            android:name=".AdministracionUsuariosActivity"

            android:exported="false"

            android:screenOrientation="unspecified"

            android:windowSoftInputMode="adjustResize" />


    </application>


</manifest>